<div>
  <h4>Current Jobs</h4>
  <hr>
</div>

<ul class="all-jobs">
    <li ng-repeat="job in jobs" class="clearfix"> 
        <a href="#/jobs/{{job.$id}}">
            <div class="medium-3 columns">{{job.createdAt | amCalendar}}</div>
            <div class="medium-4 columns">{{job.type}}</div>
            <div class="medium-3 columns">{{job.name}}</div>
            <div class="medium-2 columns">{{job.status.details}}</div>
            <ul class="controls">
              <li><a class="delete-job" ng-click="jobs.$remove(job)"><i class="fa fa-trash"></i></a></li>
              <li><a class="archive-job" ng-click="archiveIt(job)"><i class="fa fa-archive"></i></a></li>
            </ul>
        </a>
    </li>
</ul>
